@tailwind base;
@tailwind components;
@tailwind utilities;

.item-name{
    color: #fff;
    font-weight: bold;
    top: 7.2rem;
    left: 11px;
    opacity: 1;
    font-size: 1.2rem;
    z-index: 1;
}
.item-container{
    margin: auto;
    width: 1140px;
}
.item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin: 32px 16px;
}
.rounded-md{
    border-radius: 1rem;
}